# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.log
*.suo
*.db
*.ilk
*.pdb
*.idb

*/Debug/*
*/Release/*
.vs/Platformer/v16/Browse.VC.opendb
.vs/Platformer/v16/Browse.VC.db
.vs/Platformer/v16/Browse.VC.db-shm
.vs/Platformer/v16/Browse.VC.db-wal
.vs/Platformer/v16/Browse.VC.db
